body {
    font-family: Arial, sans-serif;
    background-color: #000000;
    margin: 0;
    padding: 20px;
    color: #000000;
}

h1 {
    text-align: center;
    color: #ffffff;
}

#productList {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

#indexList {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    color: #000000;
    font-size: larger;
    list-style: none;
    padding: 0;
}

#indexList li {
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 15px;
    width: calc(33.333% - 20px);
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

#indexList li strong {
    display: block;
    margin-bottom: 10px;
    font-size: 1.5em;
}

#indexList li hr {
    margin: 10px 0;
}

#indexList li a {
    color: #ffffff;
    text-decoration: none;
}

#indexList li a:hover {
    text-decoration: underline;
}

#indexList li form {
    margin-top: 10px;
}

#productList>div {
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 15px;
    width: 300px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#productList h3 {
    margin-top: 0;
    font-size: 1.5em;
}

#productList p {
    margin: 5px 0;
}

#productList button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 8px 12px;
    border-radius: 4px;
    cursor: pointer;
}

#productList button:hover {
    background-color: #0056b3;
}

#productForm {
    text-align: center;
    display: flex;
    flex-direction: column;
    max-width: 300px;
    margin: 20px auto;
    padding: 20px;
    background-color: #797a80;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#productForm input {
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 4px;
    border: 1px solid #ddd;
}

#productForm button {
    background-color: #28a745;
    color: #fff;
    border: none;
    padding: 10px;
    border-radius: 4px;
    cursor: pointer;
}

#productForm button:hover {
    background-color: #218838;
}

#addNewProductBtn {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

#addNewProductBtn:hover {
    background-color: #0056b3;
}

#productList>div>button {
    margin-top: 10px;
}

.returToHome {
    display: inline;
    margin: 20px auto;
    padding: 10px 20px;
    background-color: #229e2c;
    color: #ffffff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.pagination {
    color: #fff;
    text-align: center;
}

.custom-select {
    text-align: center;
    background-color: #48484b; 
    border: 1px solid #000000;
    border-radius: 5px;
    font-weight: bold;
    color: #ffffff; 
    cursor: pointer;
}

.home-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: #fff;
}

.home-button-container {
    display: flex;
    flex-direction: column;
    gap: 15px;
    text-align: center;
}

.home-button {
    padding: 15px 30px;
    font-size: 1.2rem;
    color: white;
    background-color: #4CAF50;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 250px;
}

.home-button:hover {
    background-color: #45a049;
}

.home-footer {
    position: absolute;
    bottom: 20px;
    text-align: center;
    width: 100%;
}

.home-footer p {
    color: #777;
}

.wide-card {
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 20px;
    width: 600px; 
    border-radius: 8px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    margin: 20px auto;
    text-align: left;
    font-size: 1.1rem;
}

.wide-card strong {
    display: block;
    font-size: 2rem;
    margin-bottom: 15px;
}

.wide-card hr {
    margin: 15px 0;
}

.wide-card p {
    margin: 10px 0;
    font-size: 1.1rem;
}

.wide-card button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.wide-card button:hover {
    background-color: #0056b3;
}
