<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div class="home-container">
        <h1>Welcome!</h1>

        <div class="home-button-container">
            <button class="home-button" onclick="location.href='/api/products'">Product List</button>
            <button class="home-button" onclick="location.href='/realtimeproducts'">Real Time Products</button>
        </div>
    </div>

    <div class="home-footer">
        <p>&copy; 2024 My Store - All rights reserved</p>
    </div>
</body>

</html>